#chat-page {
    --history-width: 20%;
    --chat-main-width: calc(100% - var(--history-width));

    width: 100%;
    height: 100%;
    overflow: auto;
    position: absolute;
    top: 0;
    left: 0;
}

/* 
=====================================================

                    CHAT HISTORY

=====================================================
*/

#chat-page #chat-history {
    --new-conversation-height: 50px;

    width: var(--history-width);
    border-right: 1px dashed gray;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    overflow: auto;
    transform: scaleX(0);
    transition-duration: .5s;
    transform-origin: left center;
}

#chat-page.sidebar-expanded #chat-history {
    transform: scaleX(1);
}

#chat-page #chat-history .new-conversation {
    width: 100%;
    height: var(--new-conversation-height);
    display: flex;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    border-bottom: 1px dashed lightgray;
}

#chat-page #chat-history .new-conversation .title {
    --title-height: calc(var(--new-conversation-height) * 0.75);

    width: 95%;
    height: var(--title-height);
    line-height: var(--title-height);
    margin: auto;
    transition-duration: .5s;
    border-radius: 7px;
    text-align: center;
    border: 1px solid lightgray;
}

#chat-page #chat-history .tickets-list {
    padding: 7px;
    width: 100%;
    height: calc(100% - var(--new-conversation-height));
    position: absolute;
    bottom: 0;
    left: 0;
    overflow-y: auto;
}

#chat-page #chat-history .tickets-list .ticket {
    width: 100%;
    min-height: 90px;
    border-radius: 10px;
    padding: 10px;
    transition-duration: .5s;
}

#chat-page #chat-history .tickets-list .ticket.selected,
#chat-page #chat-history .new-conversation .title:hover,
#chat-page #chat-history .tickets-list .ticket:hover {
    background-color: var(--gray-bg);
}

#chat-page #chat-history .tickets-list .ticket .title {
    font-weight: 800;
    font-size: 22px;
}

#chat-page #chat-history .tickets-list .ticket .datetime {
    font-size: 14px;
    color: gray;
}

#chat-page #chat-history .tickets-list .ticket .preview {
    margin-top: 5px;
    font-size: 17px;
}

/* 
=====================================================

                       CHAT MAIN

=====================================================
*/
.chat-outer-main {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    transition-duration: .5s;
    transform-origin: left center;
}
#chat-page.sidebar-expanded .chat-outer-main {
    width: var(--chat-main-width);
}

.chat-outer-main #toggle-sidebar-expand {
    --sidebar-expand-icon-size: 25px;
    --sidebar-expand-icon-margin: 20px;

    color: gray;
    width: var(--sidebar-expand-icon-size);
    height: var(--sidebar-expand-icon-size);
    position: absolute;
    top: var(--sidebar-expand-icon-margin);
    left: var(--sidebar-expand-icon-margin);
}

.chat-outer-main #toggle-sidebar-expand svg {
    width: 100%;
    height: 100%;
}

#chat-main {
    --send-section-size: 50px;
    --leave-bottom: 15px;

    --main-width: 60%;
    --top-bottom-padding: 20px;
    --conversation-main-side-padding: 30px;

    width: var(--main-width);
    height: 100%;
    position: absolute;
    top: 0;
    left: calc((100% - var(--main-width)) / 2);
    padding-top: var(--top-bottom-padding);
    transition-duration: .5s
}

#chat-page.sidebar-expanded #chat-main {
    --main-width: 75%;
}

#conversation-main {
    position: absolute;
    width: 100%;
    height: calc(100% - var(--send-section-size) - var(--leave-bottom) - (var(--top-bottom-padding) * 2));
    overflow-y: auto;
    overflow-x: hidden;
    padding: 0px var(--conversation-main-side-padding);
}

#conversation-main .greeting {
    width: fit-content;
    height: fit-content;
    margin: auto;
    margin-top: 30%;
    color: gray;
    font-size: 20px;
    user-select: none;
    max-width: 80%;
}

#conversation-main .conversation-block {
    margin-bottom: 30px;
    position: relative;
}

#conversation-main .conversation-block.sender-in {
    display: flex;
}

#conversation-main .conversation-block.sender-in .avatar {
    --avatar-size: 35px;
    width: var(--avatar-size);
    height: var(--avatar-size);
    border-radius: var(--avatar-size);
    border: 1px solid lightgray;
    margin-right: 14px;
}

#conversation-main .conversation-block .message {
    font-size: 18px;
}

#conversation-main .conversation-block.sender-out .message {
    width: fit-content;
    padding: 13px 30px;
    border-radius: 13px;
    background-color: rgba(230, 230, 230, 0.5);
    position: relative;
    margin-right: 0;
    margin-left: auto;
}

#conversation-main .conversation-block.sender-in .message {
    line-height: 27px;
}

#conversation-main .conversation-block.sender-in .model-name {
    font-weight: bold;
    margin-bottom: 5px;
}

@keyframes dot-animation {
    0% { transform: translateY(0px); }
    25% { transform: translateY(-5px); }
    50% { transform: translateY(0px); }
    75% { transform: translateY(5px); }
    100% { transform: translateY(0px); }
}

#conversation-main .conversation-block.sender-in .message .dot-animation {
    animation: dot-animation 1.2s linear infinite;
    width: 10px;
    margin: 5px;
    display: inline-block;
}

#conversation-main .conversation-block.sender-in .message .dot-animation.dot-2 {
    animation-delay: .3s;
}

#conversation-main .conversation-block.sender-in .message .dot-animation.dot-3 {
    animation-delay: .6s;
}

#chat-page #chat-main #submit-chat {
    position: absolute;
    width: calc(100% - var(--conversation-main-side-padding));
    height: var(--send-section-size);
    bottom: var(--leave-bottom);
    left: var(--conversation-main-side-padding);
    overflow: hidden;
}

#chat-page #chat-main #submit-chat input {
    position: absolute;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid gray;
    height: 100%;
    border-radius: 10px;
    padding: 0px var(--send-section-size) 0px 15px;
}
#chat-page #chat-main #submit-chat input:focus { outline: none; }

#chat-page #chat-main #submit-chat .send {
    position: absolute;
    right: 0;
    width: var(--send-section-size);
    height: var(--send-section-size);
    display: flex;
    align-items: center;
}

#chat-page #chat-main #submit-chat .send .submit-btn {
    z-index: 2;
    width: 100%;
    height: 100%;
    opacity: 0;
    position: absolute;
}

#chat-page #chat-main #submit-chat .send .submit-icon {
    z-index: 1;
    width: 50%;
    height: 50%;
    margin: auto;
    transform-origin: center;
    transform: rotate(45deg);
    color: dodgerblue;
}

/* 
=====================================================

                   MODEL SETTINGS

=====================================================
*/

.model-settings {
    position: absolute;
    right: 0;
    top: 0;
    width: var(--settings-width);
    height: 100%;
    overflow-y: auto;
}

.model-settings .title {
    margin: 10px 20px;
    font-size: 25px;
    font-weight: bolder;
}

.model-settings .setting-section {
    width: 100%;
    padding: 15px 20px;
}

.model-settings .setting-section .title {
    margin: unset;
    margin-bottom: 7px;
    font-size: 17px;
    font-weight: unset;
}

.model-settings .setting-section input[type="text"] {
    height: 40px;
    box-sizing: border-box;
    border-radius: 10px;
    padding: 0px 10px;
    border: 1px solid gray;
    width: 50%;
}
.model-settings .setting-section input[type="text"]:focus {
    outline: none;
    border-width: 2px;
}

.model-settings .setting-section .combined-section {
    --item-margin: 5px;
    display: flex;
    align-items: center;
}
.model-settings .setting-section .combined-section * { margin: auto; margin-right: var(--item-margin); }
.model-settings .setting-section .combined-section *:last-child { margin-right: unset; }

.model-settings .setting-section .combined-section.range {
    width: 60%;
}

.model-settings .setting-section .combined-section.range input[type="range"] {
    width: 75%;
}
.model-settings .setting-section .combined-section.range input[type="text"] {
    width: 25%;
    text-align: center;
}