.model-hero>.title {
    text-align: center;
    font-size: 25px;
    height: 20vh;
    align-content: center;
}

/* 
=====================================================

                       SEARCH

=====================================================
*/

.model-hero #search-template {
    --search-height: 50px;

    display: block;
    position: relative;
    width: 50%;
    height: var(--search-height);
    margin: auto;
    border-radius: 15px;
    overflow: hidden;
}

#search-template .search-input {
    background-color: var(--transparent-gray-bg);
    border: none;
    width: 100%;
    height: 100%;
    padding: 0px 20px;
    box-sizing: border-box;
    transition-duration: .3s;
}

#search-template .search-input:hover,
#search-template .search-input:focus {
    background-color: var(--gray-bg);
    outline: none;
}

#search-template .submit-search-container {
    position: absolute;
    top: 0;
    right: 0;
    width: var(--search-height);
    height: var(--search-height);
}

#search-template .submit-search-container .submit-search {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
}

#search-template .submit-search-container .submit-search.btn {
    z-index: 2;
    opacity: 0;
}

#search-template .submit-search-container .submit-search.icon {
    display: flex;
    align-items: center;
    z-index: 1;
}

#search-template .submit-search-container .submit-search.icon svg {
    width: 30%;
    height: 30%;
    margin: auto;
}

/* 
=====================================================

                    SELECT TEMPLATES

=====================================================
*/

.model-hero .templates-section {
    display: flex;
    align-items: center;
    width: 100%;
    height: fit-content;
}

.model-hero .templates-section .switch-template {
    margin: auto;
    width: 30px;
    height: 100px;
    display: flex;
    align-items: center;
    background-color: var(--transparent-gray-bg);
    border-radius: 5px;
    transition-duration: .3s;
}
.model-hero .templates-section .switch-template:first-child {
    margin-right: 20px;
}
.model-hero .templates-section .switch-template:last-child {
    margin-left: 20px;
}
.model-hero .templates-section .switch-template svg {
    margin: auto;
    width: 20px;
    height: 20px;
}
.model-hero .templates-section .switch-template.last svg {
    transform: rotate(180deg);
}

.model-hero #display-templates {
    height: 230px;
    width: 60%;
    position: relative;
    margin-top: 50px;
    overflow-y: hidden;
    display: flex;
    flex-direction: row;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    scrollbar-width: none;
}

.model-hero #display-templates .template-card {
    min-width: 400px;
    height: 100%;
    border-radius: 10px;
    margin: 0px 10px;
    display: block;
    scroll-snap-align: center;
    scroll-snap-stop: always;
    background-color: var(--transparent-gray-bg);
    padding: 20px;
    border: 1px solid lightgray;
    transition-duration: .3s;
}

.model-hero .templates-section .switch-template:hover,
.model-hero #display-templates .template-card:hover {
    background-color: var(--gray-bg);
}

@media screen and (max-width: 900px) {
    .model-hero #display-templates .template-card {
        min-width: 100px;
        max-width: calc((100% - 20px) * 0.8);
    }
}

#display-templates .template-card .title {
    font-size: 29px;
    height: 35px;
    margin-bottom: 7px;
    text-wrap: nowrap;
}

#display-templates .template-card .description {
    word-wrap: break-word;
    font-size: 18px;
    width: 100%;
    height: calc(100% - 50px);
    overflow-y: auto;
}

/* 
=====================================================

                    SHOW TEMPLATE

=====================================================
*/

.show-template-main {
    width: 500px;
    height: 70%;
    margin: auto;
    margin-top: 5%;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
}

.show-template-main .template-name {
    font-size: 30px;
    text-align: center;
    height: 40px;
}

.show-template-main .template-block {
    height: calc(100% - 130px);
    margin-top: 20px;
    width: 100%;
    padding: 20px;
    border: 2px inset;
    border-radius: 10px;
}

.show-template-main .select-template-btn {
    height: 45px;
    width: fit-content;
    padding: 0px 20px;
    align-content: center;
    border-radius: 10px;
    font-size: 18px;
    margin: auto;
    margin-top: 20px;
}