.model-hero .title {
    text-align: center;
    font-size: 25px;
    height: 20vh;
    align-content: center;
}

/* 
=====================================================

                       SEARCH

=====================================================
*/

.model-hero #search-template {
    --search-height: 50px;

    display: block;
    position: relative;
    width: 50%;
    height: var(--search-height);
    margin: auto;
    border-radius: 15px;
    overflow: hidden;
}

#search-template .search-input {
    background-color: var(--transparent-gray-bg);
    border: none;
    width: 100%;
    height: 100%;
    padding: 0px 20px;
    box-sizing: border-box;
    transition-duration: .3s;
}

#search-template .search-input:hover,
#search-template .search-input:focus {
    background-color: var(--gray-bg);
    outline: none;
}

#search-template .submit-search-container {
    position: absolute;
    top: 0;
    right: 0;
    width: var(--search-height);
    height: var(--search-height);
}

#search-template .submit-search-container .submit-search {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
}

#search-template .submit-search-container .submit-search.btn {
    z-index: 2;
    opacity: 0;
}

#search-template .submit-search-container .submit-search.icon {
    display: flex;
    align-items: center;
    z-index: 1;
}

#search-template .submit-search-container .submit-search.icon svg {
    width: 30%;
    height: 30%;
    margin: auto;
}

/* 
=====================================================

                    SELECT TEMPLATES

=====================================================
*/

.model-hero #display-templates {
    height: 200px;
    width: 60%;
    position: relative;
    margin: auto;
    margin-top: 50px;
    overflow-y: hidden;
    display: flex;
    flex-direction: row;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    scrollbar-width: none;
}

.model-hero #display-templates .template-card {
    min-width: 400px;
    height: 100%;
    background-color: white;
    border-radius: 15px;
    margin: 0px 20px;
    display: block;
    border: 1px solid;
    scroll-snap-align: center;
    scroll-snap-stop: always;
}

@media screen and (max-width: 900px) {
    .model-hero #display-templates .template-card {
        min-width: 100px;
        max-width: calc((100% - 40px) * 0.8);
    }
}